<header class="header">
    <a href="#" class="logo">Developer</a>
    <nav class="nav-items">
      <a href="/home">Home</a>
      <a href="/signup">Signup</a>
      <a href="/login">Login</a>
      <a href="/contact">Contact</a>
    </nav>
  </header>